
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /ridgeline/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ridgeline/index.php [L]
</IfModule>

# END WordPress
# BEGIN Hotlinking
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://localhost/ridgeline/.*$ [NC]
RewriteRule /ridgeline/wp-content/uploads/jobpost/.*?\.(pdf|doc|docx|odt|rtf|txt)$ [R=302,L]
</IfModule>

# END Hotlinking
# BEGIN Force Download
AddType application/octet-stream .pdf .txt

# END Force Download